In [9]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.ticker
import os
import seaborn as sns
from scipy import stats
from mlxtend.evaluate import permutation_test

In [35]:
D = pd.read_pickle('data16-17.pkl')
D

           week         cfu                 name  nights  rain
0      Week one    8.333333  Bioindicator UV+ 17   51409   5.3
1      Week two    8.333333  Bioindicator UV+ 17   51409   1.2
2    Week three   33.333333  Bioindicator UV+ 17   51409  22.3
3     Week four  258.333333  Bioindicator UV+ 17   63675   8.2
4     Week five  233.333333  Bioindicator UV+ 17   63675  22.0
..          ...         ...                  ...     ...   ...
115   Week four  850.000000          Coliform 16   63896  22.2
116   Week five    8.333333          Coliform 16   63896   5.7
117    Week six    8.333333          Coliform 16   63896   8.3
118  Week seven    8.333333          Coliform 16   60500  12.5
119  Week eight    8.333333          Coliform 16   60500  11.6

[120 rows x 5 columns]

In [36]:
# Specifying festival period in each dataset
D['festival']=0
D.loc[D['name'].str.contains("16") & D['week'].str.contains('|'.join(['Week three', 'Week four'])), 'festival']=1
D.loc[D['name'].str.contains("17") & D['week'].str.contains('|'.join(['Week four', 'Week five'])), 'festival']=1

In [30]:
#print(stats.ttest_rel(FI, FO))

In [40]:
# Permutation test for combined off-festival vs festival period
p_value = permutation_test( D.loc[D['festival'] == 1, 'cfu'], D.loc[D['festival'] == 0, 'cfu'],
                           method='approximate',
                           num_rounds=10000,
                           seed=0)
print(p_value)

9.999000099990002e-05

In [42]:
# Permutation test for 16 vs f17
p_value = permutation_test( D.loc[D['name'].str.contains("16"), 'cfu'], D.loc[D['name'].str.contains("17"), 'cfu'],
                           method='approximate',
                           num_rounds=10000,
                           seed=0)
print(p_value)

0.035996400359964

               cfu    nights      rain  festival
cfu       1.000000  0.389322  0.264039  0.621482
nights    0.389322  1.000000  0.252329  0.466867
rain      0.264039  0.252329  1.000000  0.292429
festival  0.621482  0.466867  0.292429  1.000000

In [45]:
# Correlation of Coliform vs. nights and rain
D[D['name'].str.contains("Coliform")].corr(method ='spearman')

               cfu    nights      rain  festival
cfu       1.000000  0.236118  0.198588  0.560744
nights    0.236118  1.000000  0.297693  0.482617
rain      0.198588  0.297693  1.000000  0.313112
festival  0.560744  0.482617  0.313112  1.000000